<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Welcome</title>
    <style>
    body {
      font-family: Arial, sans-serif;
    }
    h1 {
      font-size: 500%;
      font-weight: normal;
      margin-bottom: 0em;
      text-align: center;
    }
    p {
      text-align: center;
    }
  </style>
</head>
<body>
    <h1>Hello there!</h1><br>
    <p>This is my first deployment of a simple app to AWS cloud</p>

    <p>Yayy! Deployed via AWS COPILOT on PRODUCTION ENVIRONMENT</p>
</body>
</html>
